{% extends "base.html" %}

{% block title %}{% endblock %}
{% block og_title %}{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block content %}
<h1>H1 title</h1>

<ul>
  <li>Lorem, ipsum dolor.</li>
  <li>Tempora, odit atque?</li>
  <li>Consequuntur, enim cupiditate?</li>
  <li>Consectetur, quod ratione.</li>
  <li>Vitae, provident quam!</li>
  <li>At, esse porro.</li>
</ul>

<a href="/">Link</a>
<br/>

<button>Button</button>
<br/>

<input type="text" value="Text input">
<br/>

<input type="checkbox" value="Text input">
<br/>

<input type="radio" value="Text input">
<br/>

<textarea name="" id="" rows="3">Textarea</textarea>

<pre>{{ data }}</pre>
<pre>{{ x }}</pre>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, temporibus?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, temporibus?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, temporibus?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, temporibus?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, temporibus?</p>
{% endblock %}

{% block extra_scripts %}
<script src="js/about.js"></script>
{% endblock %}
