<!DOCTYPE html>
<html class="document" lang="ru" prefix="og: http://ogp.me/ns#">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="{% block og_title %}{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta property="og:image" content="#" />

    {% block extra_styles %}
    {% endblock %}

    {% block common_styles %}
      <link rel="stylesheet" href="{{ styles }}">
    {% endblock %}
  </head>
  <body class="page">
    <div class="page__header">
      {% include "includes/header.html" %}
    </div>

    <div class="page__body">
      {% block content %}
      {% endblock %}
    </div>

    <div class="page__footer">
      {% include "includes/footer.html" %}
    </div>

    {% block common_scripts %}
      <script src="js/index.js"></script>
    {% endblock %}

    {% block extra_scripts %}
    {% endblock %}
  </body>
</html>
