* {
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

p {
  &:first-child {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

input,
textarea {
  padding: 0;
  width: 100%;
  font-family: inherit;
  color: inherit;
}

select {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

fieldset {
  margin:0;
  border:none;
}

table {
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
}

figure {
  margin: 0;
}
