.agreement {
    margin: 15px 0 32px;
    padding-left: 30px;
    font-size: 12px;
    position: relative;
    
    > * {
        cursor: pointer;
    }
}

.agreement__checkbox {
    width: 5px;
    opacity: 0;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;

    &:checked + .agreement__checkbox-view {
        background-color: #000;
    }

    &:focus + .agreement__checkbox-view {
        border-color: #000;
    }
}

.agreement__checkbox-view {
    display: block;
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .3s ease;
}