* {
    box-sizing: border-box;
    outline: none;
}

html {
    height: 100%;
    font-size: 16px;
    color: #111111;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
}

p {
    margin-top: 0;

    &:last-of-type {
        margin-bottom: 0;
    }
}

input,
textarea {
    padding: 0;
    width: 100%;
    font-family: inherit;
}

select {
    font-family: inherit;
    cursor: pointer;
}

fieldset {
    margin:0;
    border:none;
} 

table {
    width: 100%;
}

button {
    font-family: inherit;
    cursor: pointer;
}