<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <meta name="keywords" content="">

        <link rel="shortcut icon" href="favicon/favicon.ico">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="/" />
        <meta property="og:image" content="#" />

        {% block extra_styles %}
        {% endblock %}

        {% block common_styles %}
            <link rel="stylesheet" href="css/style.css">
        {% endblock %}
    </head>
    <body>
        {% include "../includes/header.html" %}

        <div class="page-wrap">
            {% block content %}
            {% endblock %}
        </div>

        {% include "../includes/footer.html" %}

        {% block common_scripts %}
            <script src="js/jquery-3.2.1.min.js"></script>
            <script src="js/main.js"></script>
        {% endblock %}

        {% block extra_scripts %}
        {% endblock %}
    </body>
</html>